<div class="container pt-3">
  <h1>Quina diferència hi ha entre intolerància i al·lèrgia?</h1>
  <div class="row">
    <div class="col-md-12">
      <p>
        La intolerància és una reacció del sistema metabòlic o digestiu a una
        substància que no es digereix bé.
      </p>
      <p>
        L'al·lèrgia és una reacció del sistema immunitari a una substància que
        considera estranya i nociva.
      </p>
      <p>
        La intolerància té símptomes principalment digestius, que poden
        aparèixer hores o dies després d'ingerir la substància.
      </p>
      <p>
        L'al·lèrgia té símptomes variats i més greus, que poden afectar la pell,
        les mucoses, el sistema respiratori o el cardiovascular, i que apareixen
        immediatament després d'entrar en contacte amb la substància.
      </p>
      <p>
        La intolerància només es produeix per ingestió de la substància, mentre
        que l'al·lèrgia pot produir-se per contacte, inhalació o injecció de la
        substància.
      </p>
      <h2>Com es pot prevenir les al·lèrgies?</h2>
      <p>
        La prevenció d'al·lèrgies consisteix a adoptar mesures o tractaments per
        a evitar el desenvolupament de símptomes o una malaltia futura.
      </p>
      <p>
        La prevenció d'al·lèrgies es pot realitzar a tres nivells: primari,
        secundari i terciari.
      </p>
      <p>
        La prevenció primària es recomana a les persones que no tenen símptomes
        ni sensibilització al·lèrgica, però que tenen algun risc augmentat de
        desenvolupar al·lèrgies. Les mesures de prevenció seran diferents per a
        cada cas.
      </p>
      <p>
        La prevenció secundària es realitza en les persones que tenen proves
        d'al·lèrgia positives, però que no han tingut símptomes. Es tracta
        d'evitar que els símptomes es produeixin. Per exemple, es pot recomanar
        consumir l'aliment al qual s'és sensible si es tolera bé, o evitar el
        contacte amb el material al qual s'és al·lèrgic si es preveu una reacció
        greu.
      </p>
      <p>
        La prevenció terciària es realitza en les persones que ja han tingut
        símptomes al·lèrgics per a evitar que es repeteixin o que siguin més
        lleus. Es pot realitzar evitant el *alergeno i, si és necessari, amb un
        tractament farmacològic o immunoteràpia. Cada cas ha de ser valorat de
        manera individual i s'han de seguir les recomanacions de
        l'especialista..
      </p>
    </div>
  </div>
</div>
