<div class="container">
  <h1 class="mt-3">Intolerància alimentària</h1>
  <p>
    La intolerància alimentària és una reacció del sistema digestiu que ocorre
    quan no es tolera algun aliment o substància, per falta d'enzims o per danys
    en l'intestí. Les més comunes són la lactosa i el gluten, però hi ha altres
    com la sacarosa, la fructuosa o la histamina. Els símptomes poden ser
    digestius o d'un altre tipus, i poden variar segons la quantitat consumida,
    l'edat, el sexe i l'estat de salut de cada persona. L'única manera de
    tractar-la és evitar els aliments que la causen, seguint una dieta
    personalitzada segons el diagnòstic individual.
  </p>
  <div class="row">
    <div class="col-md-6">
      <h2>Lactosa</h2>
      <p>
        Pot ser permanent o momentània. Es dona quan no tenim suficients enzims
        en l'intestí prim per a minimitzar la lactosa, que és el sucre que porta
        la llet, en substàncies més petites com la glucosa; llavors passa
        directament a l'intestí gros i ens provoca molèsties.
      </p>
      <h2>Gluten</h2>
      <p>
        És per a tota la vida i té un alt component genètic. Aquesta substància
        es troba en molts cereals com el blat i la civada i en molts aliments
        processats. Al no poder metabolizar-lo correctament, s'inflama la mucosa
        de l'intestí prim provocandonos malestar.ç
      </p>
      <h2>Sacarosa i/o fructuosa</h2>
      <p>
        La primera és al sucre pròpiament, mentre que la segona és al sucre que
        conté la fruita i algunes verdures. Són bastant menys habituals que les
        anteriors, i normalment se solen tolerar petites quantitats.
      </p>
      <h2>Histamina</h2>
      <p>
        És una substància que es troba en el nostre organisme, però que també
        contenen alguns aliments com els vins, l'embotit o les conserves. Es
        tolera una quantitat d'histamina concreta, i en sobrepassar-la ens
        provoca la intolerància. S'ha de subratllar que, a part dels símptomes
        en l'aparell digestiu, acostuma a provocar mareig i migranya.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Entre les possibles causes figuren</h2>
      <ul>
        <li>
          La mancança o el mal funcionament de certs enzims per processar o
          utilitzar els components dels aliments. Per exemple, a la intolerància
          a la lactosa.
        </li>
        <li>
          El mal funcionament o la baixa quantitat del transportador per a
          l’absorció del nutrient (malabsorció).
        </li>
        <li>
          Danys a la paret de l’intestí prim que permeten que entrin massa
          substàncies nocives al torrent sanguini. En aquest darrer cas, els
          experts creuen que això és degut a múltiples factors entre els quals
          es troben: la dieta actual rica en aliments molt processats, l’estrès
          i les influències ambientals perjudicials. Per aquest motiu, el nombre
          de persones amb intolerància ha continuat augmentant en els darrers
          anys.
        </li>
        <li>
          Sensibilitat als additius alimentaris. Com per exemple els sulfits,
          derivats del sofre que es fan servir com a conservants alimentaris i
          estan presents en gairebé tots els vins, la cervesa, la sidra, i en
          diferents aliments.
        </li>
        <li>Estrès recurrent o factors psicològics.</li>
      </ul>
      <h2>Els símptomes més comuns de la intolerància alimentària són</h2>
      <p>aquells relacionats amb les molèsties digestives:</p>
      <ul>
        <li>Diarrea</li>
        <li>Inflor</li>
        <li>Flatulència</li>
        <li>Ardor d’estómac</li>
        <li>Rampes abdominals</li>
      </ul>
      <p>Altres símptomes que poden aparèixer són:</p>
      <ul>
        <li>Erupcions cutànies</li>
        <li>Marejos</li>
        <li>Mals de cap</li>
        <li>Fatiga general</li>
        <li>Pèrdua de pes</li>
        <li>Manca de creixement en els nens</li>
      </ul>
      <p>
        Aquests símptomes poden apareixen poc després de menjar l'aliment en
        qüestió, però de vegades també hores després. Per norma general, els
        símptomes són més forts o més febles depenent de la quantitat de
        l’aliment consumida.
      </p>
    </div>
  </div>
</div>
