<div class="container pt-3">
  <h1>Què són al·lèrgies?</h1>
  <div class="row">
    <div class="col-md-6">
      <p>
        Una al·lèrgia és una hipersensibilitat caracteritzada per una
        resposta<br />
        immunològica molt més gran de l’habitual cap a unes substàncies no<br />
        perilloses anomenades al·lèrgens. Aquesta hipersensibilitat es<br />
        caracteritza per tenir uns símptomes característics i gran quantitat<br />
        d’immunoglobulines de tipus E (IgE). Així, la exposició a aquest
        al·lergen<br />
        farà que l’individu produeixi histamina, la substància que produirà
        els<br />
        símptomes. Aquests al·lèrgens poden ser normalment: pol·len, àcars,
        algun<br />
        menjar específic… La majoria de reaccions al·lèrgiques són el resultat
        de<br />
        la resposta del sistema immunològic a una “falsa alarma”.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="https://imagenes.elpais.com/resizer/ygxumkCxih3-f6RcO6m2U1v39KI=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/ZPK7QICBX5PYDUUDC33S5P3HGA.jpg"
        alt="Persona con alergia estornudando"
        width="350px"
        class="mx-auto d-block"
      />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-4 mb-3">
      <h4>Què són els antígens?</h4>
      <p>
        Es denomina antigen a tot allò que pot desencadenar una reacció
        immunològica (bacteri, virus, pol·len, etc.).
      </p>
    </div>
    <div class="col-md-4 mb-3">
      <h4>Què són els anticossos?</h4>
      <p>
        Els anticossos són proteïnes que el sistema immunitari produeix
        responent als antígens (els agressors). Els anticossos (els defensors)
        són les immunoglobulines produïdes per les cèl·lules del sistema
        immunitari, que són específiques per a un al·lergen en concret.
      </p>
    </div>
    <div class="col-md-4 mb-3">
      <h4>Què són els al·lèrgens?</h4>
      <p>
        Els al·lèrgens són antígens –substàncies que poden produir una reacció
        d’hipersensibilitat en l’organisme- que causen l’al·lèrgia. La major
        part dels al·lèrgens són proteïnes, però no necessàriament perjudicials
        per sí mateixes; de fet la majoria de persones les toleren “sense
        problemes”.
      </p>
    </div>
  </div>
</div>
